#contact-hero {
  background-position: 70%;
  background-image: url('https://www.sdhumane.org/assets/images/standard/adopt-me.jpg');
  height: 500px;
}

#about-hero {
  background-position: 90%;
  background-image: url("https://www.maricopa.gov/ImageRepository/Document?documentID=84591");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

#facts-hero {
  background-position: 70%;
  background-image: url("https://s7d1.scene7.com/is/image/scom/NMADD_hero_xl_02-1?$1100j$");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

h1,
h2 {
  font-family: Helvetica, sans-serif;
}

p {
  font-family: 'Montserrat', sans-serif;
}

main {
  min-height: 80vh;
}

footer {
  margin-top: auto;
}

button:hover,
a:hover {
  cursor: url("../images/paw-print.svg"), auto;
}

.dog-result {
  display: flex;
  align-items: center;
  margin: 20px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.dog-result:hover {
  transform: translateY(-3px);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
}

.dogImage {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 20px;
}

.dog-info {
  flex: 1;
}

.dog-info h2 {
  margin: 0 0 10px;
  font-size: 1.5rem;
  color: #333333;
}

.dog-info p {
  margin: 0;
  color: #777777;
}